@model List<StockListDto>
@{
    TempData["Title"] = "Stoklar";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-1">
        <span class="text-muted fw-light">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-dark">
                Dashboard /
            </a>
        </span>
        @TempData["Title"]
    </h4>
    <div class="card">
        <div class="card-header">
            <a asp-area="Admin" asp-controller="Stock" asp-action="Create" class="btn btn-primary">
                <i class='bx bx-add-to-queue'></i>
                Stok Ekle
            </a>
            <a asp-area="Admin" asp-controller="File" asp-action="ExportExcel" class="btn btn-success">
                <i class='bx bxs-file'></i>
                Excel
            </a>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-1 text-center">Id</th>
                        <th class="col-1 text-center">Kod</th>
                        <th>Name</th>
                        <th class="col-1 text-center">Grup Kodu</th>
                        <th class="col-1 text-center">Grup Adı</th>
                        <th class="col-1 text-center">Fiyat</th>
                        <th class="col-1 text-center">KDV</th>
                        <th class="col-1 text-center">İşlem</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td class="text-center">@item.Code</td>
                            <td>@item.Name</td>
                            <td class="text-center">
                                <span class="badge bg-label-@item.Group!.Color">
                                    @item.Group.Code
                                </span>
                            </td>
                            <td class="text-center">
                                <span class="badge bg-label-@item.Group.Color">
                                    @item.Group.Name
                                </span>
                            </td>
                            <td class="text-center">₺@item.Price.ToString("#,##0.000")</td>
                            <td class="text-center">@item.VAT</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Stock" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                                    <i class='bx bx-edit'></i>
                                </a>
                                <a asp-area="Admin" asp-controller="Stock" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                    <i class="bx bx-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>